---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import VagasCta from "../components/VagasCta.astro";
import Team from "../components/Team.astro";
---

<Layout title="Trabalhe no Elo7.">
  <main>
    <Header />
    <VagasCta />
    <Team />
  </main>
</Layout>
