<header class="header">
  <img src="/images/foto-header.webp" width="960" height="550" alt="Trabalhe no Elo7" />
  <h1>Trabalhe no Elo7</h1>
</header>

<style>
  .header {
    position: relative;
  }

  .header img {
    width: 100%;
    height: auto;
  }

  .header h1 {
    font-size: 24px;
    line-height: 100%;
    color: white;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 40px;
    text-shadow: 0 0 10px #000;
    margin: 0;
  }

  @media (min-width: 768px) {
    .header h1 {
      font-size: 36px;
      bottom: 100px;
    }
  }

  @media (min-width: 1024px) {
    .header h1 {
      font-size: 48px;
      bottom: 140px;
    }
  }
</style>
