<header class="header">
  <img src="/images/foto-header.png" alt="Trabalhe no Elo7" />
  <h1>Trabalhe no Elo7</h1>
</header>

<style>
  .header {
    position: relative;
  }

  .header img {
    width: 100%;
  }

  .header h1 {
    font-size: 24px;
    line-height: 100%;
    color: white;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 40px;
    text-shadow: 0 0 10px #000;
    margin: 0;
  }
</style>
