<div class="highlights">
  <div class="highlights__list">
    <div class="highlights__item">
      <img src="/images/qualidade.png" alt="qualidade" />
      <h3>Qualidade de vida</h3>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book
      </p>
    </div>
    <div class="highlights__item">
      <img src="/images/descontracao.png" alt="descontração" />
      <h3>Ambiente descontraído</h3>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book
      </p>
    </div>
    <div class="highlights__item">
      <img src="/images/atividades.png" alt="atividades" />
      <h3>Atividades extras</h3>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book
      </p>
    </div>
  </div>
  <div class="highlights__link">
    <a href="#">Saiba mais</a>
  </div>
  <div class="highlights__image">
    <img src="/images/foto-bottom.png" alt="Atividade elo7" width="860" height="300">
  </div>
</div>

<style>
  .highlights {
    padding:2rem 1rem;
  }

  .highlights__list{
    display: grid;
    grid-template-columns: 1fr;
  }

  @media (min-width: 768px) {
    .highlights__list{
      gap: 40px;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .highlights__item {
    text-align: center;
    margin-bottom: 40px;
  }

  .highlights__item h3 {
    text-transform: uppercase;
  }

  .highlights__item p {
    text-align: justify;
  }

  .highlights__link {
    border-top: 2px solid #CBCBCB;
    padding: 20px 20px 0;
    width: fit-content;
    margin: 0 auto 40px;
  }

  .highlights__link a {
    color: #359C9C;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
  }

  .highlights__image img {
    width: 100%;
    height: auto;
  }
</style>