---
import { Video } from "./Video";
---

<div class="team">
  <div class="team__ceo">
    <div class="team__video">
      <Video client:load/>
    </div>
    <div class="team__text">
      <h2>Palavra do CEO</h2>
      <h3>Carlos Curioni</h3>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book
      </p>
    </div>
  </div>
  <div class="team__members">
    <h3>Conheça nosso time fora de série</h3>
    <div class="team__list">
      <img src="/images/camila.webp" alt="Camila" width="208" height="200" />
      <img src="/images/guto.webp" alt="Guto" width="208" height="200" />
      <img src="/images/david.webp" alt="David" width="208" height="200" />
      <img src="/images/beatriz.webp" alt="Beatriz" width="208" height="200" />
    </div>
  </div>
</div>

<style>
  .team {
    padding: 32px 16px;
    background-color: #f8f8f8;
  }

  @media (min-width: 768px) {
    .team {
      padding: 32px;
    }
  }

  @media (min-width: 1024px) {
    .team {
      padding: 48px;
    }
  }

  .team__ceo {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  @media (min-width: 768px) {
    .team__ceo {
      flex-direction: row;
      gap: 40px;
    }
  }

  .team__video {
    margin-bottom: 40px;
  }

  @media (min-width: 768px) {
    .team__video {
      width: 400px;
      flex-shrink: 0;
    }
  }

  .team__text h2,
  .team__members h3 {
    text-transform: uppercase;
    margin: 0 0 8px;
    font-size: 20px;
  }

  .team__text h3 {
    font-weight: normal;
    font-style: italic;
    color: #f9a92f;
    margin: 0 0 24px;
  }

  .team__text p {
    line-height: 160%;
  }

  .team__members h3 {
    text-align: center;
    max-width: 240px;
    margin: 0 auto 40px;
  }

  .team__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }

  @media (min-width: 768px) {
    .team__list {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  .team__list img {
    width: 100%;
    height: auto;
  }
</style>
