---
import chevronsRight from "../assets/chevrons-right.svg";
---

<div class="vagas_cta">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at lectus
    eget turpis hendrerit efficitur in at enim. Maecenas sed pulvinar massa.
    Mauris ac leo mattis turpis consequat vestibulum. Mauris convallis bibendum
    consequat.
  </p>
  <div class="link">
    <a href="#" title="Vagas em aberto">
      <span>Vagas em aberto</span>
      <img src={chevronsRight} width="20" height="20" />
    </a>
  </div>
</div>

<style>
  .vagas_cta {
    padding: 16px;
  }

  @media (min-width: 768px) {
    .vagas_cta {
      padding: 32px;
    }
  }

  .vagas_cta p {
    margin: 0;
    line-height: 160%;
    text-align: center;
    margin-bottom: 20px;
  }

  .vagas_cta .link {
    border-top: 2px solid #cbcbcb;
    padding-top: 20px;
    width: fit-content;
    margin: 0 auto;
  }

  .vagas_cta .link a {
    color: #359c9c;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
</style>
