---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Nossa missão é transformar a vida das pessoas através de um ambiente humanizado de compra e venda que conecta e inspira, conferindo significado a cada transação realizada. Conheça um pouco mais sobre a trajetória do Elo7."
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <style is:global>
      html {
        font-family: system-ui, sans-serif;
      }
      body {
        margin: 0;
        padding: 0;
        color: #7d7873;
      }
    </style>
  </body>
</html>
